#header {
    position: fixed;
    z-index: 1;
    font: Garamond;
    border-radius: 5px;
    height: 10%;
    width: 100%;
    background-color: yellow;    
}

.left {
    float: left;
    border-radius: 5px;
    height: 100%;
    width: 125px;
    background-color: yellow;
    
}

.right {
    float: right;
    padding: 60px;
    border-radius: 5px;
    height: 80%;
    width: 80%;
    background-color: purple;
}

#footer {
    clear: both;
    font: Garamond;
    border-radius: 5px;
    height: 10%;
    width: 100%;
    background-color: yellow;
    
}